attrs==19.3.0
certifi==2019.11.28
importlib-metadata==1.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mongomock==3.19.0
more-itertools==8.3.0
numpy==1.18.1
olefile==0.46
packaging==20.4
pandas==1.0.3
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pymongo==3.10.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2019.3
sentinels==1.0.0
six==1.14.0
wcwidth==0.2.4
zipp==3.1.0
